*.o

# ignorar todos los archivos *.indice
**.indice
**.relacion
**.tendencia

*~
Make.inc

buscador
depuraindice
indexador
operaindice
pruebaComum
pruebaDoc
pruebaElias
tomsha256
txtdeodt
unzipuno

confaux.sed
confaux.tmp
confv.bak
confv.sh
doc/Make.inc
doc/confaux.sed
doc/confaux.tmp
doc/confv.bak
doc/confv.sh
doc/confv.tex
doc/img/arbol.eps
doc/img/arbol.png
doc/img/arbol2.eps
doc/img/arbol2.png
doc/img/verdad.eps
doc/tecnica.aux
doc/tecnica.dvi
doc/tecnica.log
doc/velocidadindexado.aux
doc/verdad.relacion
ej.indice
ej.relacion
gama.elias
prueba.relacion
regr/bdc-ene2009.indice
regr/bdc-ene2009.relacion
regr/bdc.out
regr/html.indice
regr/html.lista
regr/html.relacion
regr/juan.indice
regr/juan.relacion
regr/lucas.indice
regr/lucas.relacion
regr/marcos.indice
regr/marcos.relacion
regr/mateo.indice
regr/mateo.relacion
regr/md.indice
regr/md.relacion
regr/md2.indice
regr/md2.relacion
regr/md3.indice
regr/md3.relacion
regr/mm.indice
regr/mm.relacion
regr/mm2.indice
regr/mm2.relacion
regr/mm3.indice
regr/mm3.relacion
regr/mmj.indice
regr/mmj.relacion
regr/mmj2.indice
regr/mmj2.relacion
regr/mmja.indice
regr/mmja.relacion
regr/mmt.indice
regr/mmt.relacion
regr/nse.indice
regr/nse.out
regr/nse.relacion
regr/pdf.indice
regr/pdf.lista
regr/pdf.relacion
regr/poema_ser_como_ninos.indice
regr/poema_ser_como_ninos.lista
regr/poema_ser_como_ninos.relacion
regr/r0.indice
regr/r0.out
regr/r0.relacion
regr/r1.indice
regr/r1.out
regr/r1.relacion
regr/r1m.out
regr/r2.indice
regr/r2.out
regr/r2.relacion
regr/r4.indice
regr/r4.relacion
regr/r5.out
regr/ra.out
regr/ra1.indice
regr/ra1.relacion
regr/ra2.indice
regr/ra2.relacion
regr/ra3.indice
regr/ra3.relacion
regr/ra4.indice
regr/ra4.relacion
regr/ra5.indice
regr/ra5.relacion
regr/ra6.indice
regr/ra6.relacion
regr/ra7.indice
regr/ra7.relacion
regr/ra8.indice
regr/ra8.relacion
regr/rc0.indice
regr/rc0.relacion
regr/rc1.out
regr/rd.out
regr/rd0.indice
regr/rd0.relacion
regr/rd1.indice
regr/rd1.relacion
regr/rg1.indice
regr/rg1.relacion
regr/rgt1.indice
regr/rgt1.relacion
regr/rm.indice
regr/rm.out
regr/rm.relacion
regr/rm2.indice
regr/rm2.relacion
regr/rm3.out
regr/ro.indice
regr/ro.relacion
regr/ro2.indice
regr/ro2.out
regr/ro2.relacion
regr/rsub.indice
regr/rsub.lista
regr/rsub.relacion
regr/rsubm.indice
regr/rsubm.relacion
regr/rx.indice
regr/rx.out
regr/rx.relacion
regr/verdad.indice
regr/verdad.relacion
verdad.docindice

*.tmp
*.core
pruebaCompresion
pruebaComun
pruebaNodoTrieS
pruebaPos
pruebaRamDisco
pruebaTrieSDisco
